doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    link(rel="stylesheet" href="../css/main.css")
    link(rel="stylesheet" href="../css/mobile.css" media="only screen and (max-width:480px)")
    title
      | ROI
  body 
    main 
      include ../components/cover/cover.pug
      include ../components/infoBox/infoBox.pug
    
    script(src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous")
    script(src="../js/main.js")
    
    
    
