// start | cover
div(class="cover")
  div(class="cover__img")
    img(src="../img/cover/img/smith.png" alt=" ")
  // start | cover__info
  div(class="cover__info")
    // start | cover__info__name
    div(class="cover__info__name")
      div(class="cover__info__name__text js-edit" data-type="name")
        | John Smith
      form
        input(type="text" placeholder="John Smith")
        button(type="submit" value="")
        button(type="reset" value="")
    // end | cover__info__name
    // start | cover__info__country
    div(class="cover__info__country")
      div(class="cover__info__country__data js-edit" data-type="country")
        | Portland, Oregon, USA
      form
        input(type="text" placeholder="Portland, Oregon, USA")
        button(type="submit" value="")
        button(type="reset" value="")
    // end | cover__info__country
    // start | cover__info__languages
    div(class="cover__info__languages")
      div(class="cover__info__languages__data js-edit" data-type="languages")
        | English
      form
        input(type="text" placeholder="English")
        button(type="submit" value="")
        button(type="reset" value="")
    // end | cover__info__languages
    // start | cover__info__skills
    div(class="cover__info__skills")
      //- div(class="cover__info__skills__item")
      //-   div(class="cover__info__skills__item__tag")
      //-     | php
      //-   div(class="cover__info__skills__item__delete")
      //-     | x
      //- div(class="cover__info__skills__item")
      //-   div(class="cover__info__skills__item__tag")
      //-     | ruby
      //-   div(class="cover__info__skills__item__delete")
      //-     | x
      //- div(class="cover__info__skills__item cover__info__skills__item--red")
      //-   div(class="cover__info__skills__item__tag cover__info__skills__item__tag--red")
      //-     | javascript
      //-   div(class="cover__info__skills__item__delete")
      //-     | x
      //- div(class="cover__info__skills__item cover__info__skills__item--orange")
      //-   div(class="cover__info__skills__item__tag cover__info__skills__item__tag--orange")
      //-     | actionScript
      //-   div(class="cover__info__skills__item__delete")
      //-     | x
    // end | cover__info__skills
    // start | cover__info__skills-add
    div(class="cover__info__skills-add")
      div(class="cover__info__skills-add__text js-edit" data-type="skillsAdd")
        | Add Skills
      form
        input(type="text" placeholder="Add Skills")
        select
          each val in ['php', 'ruby', 'javascript', 'actionscript']
            option= val
        button(type="submit" value="")
    // end | cover__info__skills-add
  // end | cover__info
  div(class="cover__print")
    button(onclick="print()")
      | print this page
// end | cover
//- <a href="#" id="country" data-type="select2" data-pk="1" data-value="ru" data-url="" data-title="Select country"></a>
