// mixins
@mixin buttonsInForm($bgc, $right, $iconCode) {
  background-color: $bgc;
  border: none;
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  top: 8px;
  right: $right;
  padding: 0;
  &:focus {
    outline: none;
  }
  &:hover {
    cursor: pointer;
  }
  &::before {
    content: $iconCode;
    display: inline-block;
    width: 100%;
    height: 100%;
    font-size: 11px;
    color: #fff;
    text-align: center;
    vertical-align: super;
  }
}
@mixin buttonsSmallInForm($top, $right){
  width: 15px;
  height: 15px;
  top: $top;
  right: $right;
  &::before {
    font-size: 9px;
    vertical-align: middle;
  }
}

// varibles
$color-red: #fc6161;

// styles
.cover {
  display: flex;
  flex-flow: row wrap;
  max-width: 960px;
  margin: 0 auto;
  background-color: #e5e5e5;
  font-family: Arial;

  &__img {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 240px;
    min-width: 240px;
    min-height: 240px;
    overflow: hidden;
    & img {
      position: absolute;
      width: 100%;
      height: auto;
    }
  }

  &__info {
    flex: 0 1 480px;
    padding: 20px 0 20px 30px;
    font-weight: bold;
    box-sizing: border-box;
    & form {
      position: relative;
      display: none;

      & input {
        width: 100%;
        box-sizing: border-box;
        &:hover {
          cursor: pointer;
        }
        &:focus {
          outline: none;
        }
        &[type="text"] {
          border: 1px solid #ccc;
          padding: 3px 5px;
        }

      }
      & button[type="submit"] {
        @include buttonsInForm(green, 35px, "\2714");
      }
      & button[type="reset"] {
        @include buttonsInForm($color-red, 10px, "\2718");
      }
    }
    &__name {
      font-size: 1.6rem;
      font-weight: normal;

      margin-bottom: 3px;
      padding: 4px 5px;
      &__text {
        border: 1px solid transparent;
        &:hover {
          cursor: pointer;
          border: 1px solid #ccc;
        }
      }
    }

    &__country {
      padding: 4px 5px;
      font-size: 0.9rem;
      &:hover {
        cursor: pointer;
      }
      & form {
        & button[type="submit"] {
          @include buttonsSmallInForm(5px, 30px);
        }
        & button[type="reset"] {
          @include buttonsSmallInForm(5px, 10px);
        }
      }
    }

    &__languages {
      padding: 4px 5px;
      font-size: 0.9rem;
      &:hover {
        cursor: pointer;
      }
      & form {
        & button[type="submit"] {
          @include buttonsSmallInForm(5px, 30px);
        }
        & button[type="reset"] {
          @include buttonsSmallInForm(5px, 10px);
        }
      }
    }

    &__skills {
      display: flex;
      flex-flow: row wrap;
      padding-top:9px;
      margin: 5px 0;
      &__item {
        position: relative;
        flex: 0 0 auto;
        &__tag {
          text-transform: uppercase;
          color: #fff;
          font-size: 0.9rem;
          background-color: #000;
          margin: 2.5px 5px 2.5px 0;
          padding: 5px 10px;
          line-height: 100%;
          &:last-child {
            margin-right: 0;
          }
          &--red {
            background-color: $color-red;
          }
          &--orange {
            background-color: #faae03;
          }
          &:hover {
            cursor: pointer;
            &+.cover__info__skills__item__delete {
              display: block;
            }
          }
        }
        &__delete {
          position: absolute;
          top:8px;
          right: 7px;
          color: #fff;
          font-weight: normal;
          font-size: 11px;
          line-height: 1.2;
          background-color: #ff0000;
          width: 15px;
          height: 15px;
          text-align: center;
          border-radius: 50%;
          display: none;
          &:hover {
            cursor: pointer;
            display: block;
          }
        }
      }
    }

    &__skills-add {
      padding: 4px 5px;
      font-weight: normal;
      font-size: 1rem;
      &:hover {
        cursor: pointer;
      }
      & form {
        & input {
          &[type="text"] {
            font-size: .8rem;
            padding: 6px;
            border: 1px solid green;
          }
        }
        & select {
          position: absolute;
          top: 4px;
          right: 30px;
          font-size: .8rem;
        }
        & button[type="submit"] {
          @include buttonsSmallInForm(6px, 10px);
        }
      }

    }
  }

  &__print {
    flex: 1 0 180px;
    padding: 20px 30px;
    display: flex;
    justify-content: center;
    justify-content: flex-end;
    align-items: flex-start;
    & button {
      background-color: #000;
      color: #fff;
      border-radius: 50px;
      text-transform: uppercase;
      padding: 5px 10px;
      font-size: .7rem;
      &:focus {
        outline: none;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
  & .hide {
    display: none;
  }
  & .active {
    display: block;
  }
}
