@mixin itemTitleFontsStyle {
  font-size: 1rem;
  text-align: center;
  font-weight: bold;
}

$paddingInnerBox: 15px;

.infoBox {
  display: flex;
  flex-flow: row wrap;
  max-width: 958px;
  margin: 0 auto;
  border: 1px solid #e5e5e5;
  font-family: Arial;

  &__item {
    flex: 1 0 238.5px;
    border-bottom: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    min-height: 239px;
    &--blockquote {
      position: relative;
    }
    &:nth-child(4n+4) {
      border-right: none;
    }

    &__list {
      // position: relative;
      padding: $paddingInnerBox;
      &__box {
        min-height: 40px;
        &__title{
          @include itemTitleFontsStyle;
        }
        &__description {
          // position: absolute;
          font-size: .8rem;
          text-align: center;
        }
      }

      & ul {
        margin: 12px 0 0 0;
        padding-left: 14px;
      }
    }
    &__code {
      background-image: url('https://i0.wp.com/wp.laravel-news.com/wp-content/uploads/2016/02/operator_ide2.png?resize=2200%2C1125');
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 100%;
      &__text {
        background-color: rgba(255,255,255,.9);
        padding: 15px 20px 17px;
        @include itemTitleFontsStyle;
      }
    }
    &__half {
      text-align: center;
      &__first{
        padding: $paddingInnerBox;
        border-bottom: 1px solid #e5e5e5;
        &__title {
          @include itemTitleFontsStyle;
        }
        &__text {
          font-weight: bold;
          font-size: 2rem;
          margin-top: 16px;
        }
      }
      &__second {
        padding: $paddingInnerBox;
        &__title {
          @include itemTitleFontsStyle;
        }
        &__text {
          margin-top: 20px;
          margin-bottom: 20px;
        }
      }
    }
    &__blockquote {
      padding: $paddingInnerBox;
      &__title {
        @include itemTitleFontsStyle;
      }
      &__description {
        // position: relative;
        margin: 32px 0 0 0;
        font-style: italic;
        z-index: 2;
        padding: 0 5px;
        font-size: .9rem;
        & p {
          position: relative;
          z-index: 2;
        }
        &::before{
          content: "“";
          position: absolute;
          left: 12px;
          top: 39px;
          display: block;
          color: #e5e5e5;
          font-size: 7rem;
          font-style: normal;
          line-height: 1;
          z-index: 1;
        }
        &::after {
          content: "”";
          position: absolute;
          bottom: -0.5em;
          right: 10px;
          display: block;
          color: #e5e5e5;
          font-size: 7rem;
          font-style: normal;
          line-height: 1;
        }
      }
      &__author {
        display: block;
        text-align: right;
        font-weight: bold;
        font-size: .8rem;
        margin-top: 8px;
      }
    }
  }
}
