mixin list(title, description, ...items)
  div(class="infoBox__item__list")
    div(class="infoBox__item__list__box")
      div(class="infoBox__item__list__box__title")
        =title
      div(class="infoBox__item__list__box__description")
        =description
    ul
      each item in items
        li= item
          
mixin blockquote(title, description, author)
  div(class="infoBox__item__blockquote")
    div(class="infoBox__item__blockquote__title")
      =title
    blockquote(class="infoBox__item__blockquote__description")
      p 
        =description
      cite(class="infoBox__item__blockquote__author")
        =author
        

// start | infoBox
div(class="infoBox")
  // start | infoBox__item
  div(class="infoBox__item")
    +list('Portfolio', 'PHP, Ruby, Javascript', 'NavalPlan, PHP, Ruby', 'MyTime, Javascript', 'Formidable, PHP, Ruby', 'MyTime, Javascript', 'Monsoon, ActionScript')
  // end | infoBox__item
  // start | infoBox__item
  div(class="infoBox__item")
    +list('Experience', '', 'PHP, 6 years', 'Ruby, 7 years', 'Javascript, 4 years', 'ActionScript, 3 years')
  // end | infoBox__item
  
  // start | infoBox__item
  div(class="infoBox__item")
    div(class="infoBox__item__code")
      div(class="infoBox__item__code__text")
        | Sample code and algorithms
  // end | infoBox__item
  
  // start | infoBox__item
  div(class="infoBox__item")
    div(class="infoBox__item__half")
      div(class="infoBox__item__half__first")
        div(class="infoBox__item__half__first__title")
          | Availability
        div(class="infoBox__item__half__first__text")
          | Full-time
      div(class="infoBox__item__half__second")
        div(class="infoBox__item__half__second__title")
          | Preferred environment
        div(class="infoBox__item__half__second__text")
          | Git, GitHub, vim, emacs, Jenkins, Mac OSX
  // end | infoBox__item
  
  // start | infoBox__item
  div(class="infoBox__item infoBox__item--blockquote")
    +blockquote('The most amazing …', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua et dolore magna aliqua et dol ut labore et dolore', 'Martin')
  // end | infoBox__item
  // start | infoBox__item
  div(class="infoBox__item infoBox__item--blockquote")
    +blockquote('In clients I look for …', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua', 'Martin')
  // end | infoBox__item
  
  // start | infoBox__item
  div(class="infoBox__item")
  // end | infoBox__item
  
  // start | infoBox__item
  div(class="infoBox__item infoBox__item--blockquote")
    +blockquote('Note', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua et dolore magna aliqua', '')
  // end | infoBox__item
  
// end | infoBox
